*{
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    color: white;
}

.left{
    width: 20vw;
    padding:10px ;
}

.right{
    width: 75vw;
}

.home{
    padding: 10px;
}

.home ul li{
    display:flex;
    gap:15px;
    width: 14px;
    list-style: none;
    padding-top: 15px;
    font-weight:bold;
}

.heading{
    display:flex;
    gap:15px;
    width: 20px;
    padding-top: 15px;
    font-weight:bold;
    align-items: center;
    padding: 23px 10px;
}

.heading img{
    width: 100px;
}

.library{
    min-height: 80vh;
    position: relative;
}

.your-library{
    font-size: 13px;
}

.footer{
    text-align:center;
    bottom:0;
    /* display: flex; */
    font-size: 10px;
    gap:5px;
    position: absolute;
    bottom: 20px;
}

.footer a{
    color: gray;
}

.right{
    margin: 16px 0;;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34 34 34);
}

.header > *{
    padding:20px;
}

.cardcontainer{
    margin:10px ;
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}

.spotifyPlaylist{
    padding: 16px;
}

 .card{
    width: 200px;
    padding:5px;
    border-radius:5px ;
    background-color:#252525 ;
}

.card > *{
    padding-top: 10px;
    /* border-radius: 50%; */
}

.card img{
    width: 100%;
    object-fit: contain;
}

.play{
        display: block;
        margin-bottom: 10px;    
}
