*{
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    color: white;
}

.left{
    width: 20vw;
    padding:10px ;
}

.right{
    width: 75vw;
}

.home{
    padding: 10px;
}

.home ul li{
    display:flex;
    gap:15px;
    width: 14px;
    list-style: none;
    padding-top: 15px;
    font-weight:bold;
}

.heading{
    display:flex;
    gap:15px;
    width: 20px;
    padding-top: 15px;
    font-weight:bold;
    align-items: center;
    padding: 23px 10px;
}

.heading img{
    width: 100px;
}

.library{
    min-height: 80vh;
    position: relative;
}

.your-library{
    font-size: 14px;
}

.footer{
    /* text-align:center; */
    bottom: 0;
    /* display: flex; */
    font-size: 10px;
    /* gap:5px; */
    position: absolute;
    padding: 18px;

}

.footer a{
    color: gray;
}

.right{
    margin: 16px 0;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34 34 34);
    height: 76px;
}

.header > *{
    padding:20px;
}

.cardcontainer{
    margin:10px ;
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 75vh;
}

.spotifyPlaylist{
    padding: 16px;
}

 .card{
    width: 200px;
    padding:5px;
    border-radius:5px ;
    background-color:#252525 ;
    position: relative;
}

.card > *{
    padding-top: 10px;
    border-radius: 50%;
}

.card h2{
    font-size: 20px;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.play{
        /* display: block; */
        /* margin-bottom: 10px;  */
        position: absolute;
        top: 165px;
        right:0; 
        opacity: 0;
        transition:all 1s ease-out;  
}

.buttons > *{     /* ">" ata sin mana buttons ar vatora ja a6a sata tag kora */
    margin:0 12px ;
}

.Signupbtn{
    font-weight: bold;
    background-color:rgb(34 34 34);
    color:rgb(110, 108, 108);
    border: none;
    outline: none;
    font-size: 16px;
}

.Signupbtn:hover{
    cursor: pointer;
    font-size: 1.01rem;
    color:white;

}

.Loginbtn{
    background-color:white;
    color:rgb(110, 108, 108);
    border-radius: 50px;
    padding: 10px;
    width: 85px;
    font-size: 16px;
}

.Loginbtn:hover{
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

.playbar{
    position: absolute;
    bottom: 0;
    background-color: rgb(37, 52, 37);
    width: 100%;
    padding: 12px;

}